{% extends "base.html" %}
{% load static %}

{% block content %}
<div class="main__row">
    <div class="main__content">
        <h1 class="main__text">NurbekTech <br>Robotics & Programming</h1>
        <p>Научный блог о робототехнике: статьи, проекты, технологии, обучение, идеи, развитие, успех.</p>
    </div>
    <div class="main__img">
        <img height="auto" width="500px"
            src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcRwlSDjRAE8r4iYt7_ZTGE6L9XDcxthJLrt0XIdgTUN3JqactB7J21aFJbKl95Gfa2b4HU&usqp=CAU"
            alt="">
    </div>
</div>
{% endblock content %}

{% block extra_css %}
<link rel="stylesheet" href="{% static 'home/css/home.css' %}">
{% endblock extra_css %}