.card__container {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;

}

.card {
    height: 220px;
    width: 250px;
    border: 1px solid;
    border-radius: 10px;
    padding: 5px 5px;
    margin: 5px 5px;
}

.card__img {
    border: 1px solid #9d9a9a;
    border-radius: 10px;
    display: flex;
    justify-content: center;
    height: 140px;
}

.card__img img {
    height: 140px;
    border-radius: 10px;
}

.card__title {
    margin: 6px 0px;
}