{% extends "base.html" %}
{% load static %}

{% block content %}
<div class="blog">
    <div class="blog__title">
        <h2>Blog Page</h2>
    </div>

    <div class="card__container">
        {% for p in posts%}
        <div class="card">
            <img class="card__img" src="{{ p.photo.url }}" alt="">
            <div class="card__content">
                <h3 class="card__title">{{p.title}}</h3>
                <p>{{p.content|truncatewords:2}}</p>
                <a href="{{ p.get_absolute_url }}" class="card__link">Нажми меня</a>
            </div>
        </div>
        {% endfor %}
    </div>
</div>




{% endblock content %}

{% block extra_css %}
<link rel="stylesheet" href="{% static 'blog/css/blog.css' %}">
{% endblock extra_css %}