{% extends "base.html" %}
{% load static %}
{% load cats_tags %}

{% block content %}
{% getcats as cats %}
<div class="blog__title">
    <h2>Blog Page</h2>
</div>

{% for c in cats%}
<a href="{{ c.get_absolute_url }}">{{c}}</a>
{% endfor %}

<h1>{{post.title}}</h1>
<div class="ck-content">
    <p>{{post.content | safe}}</p>
</div>

{% endblock content %}

{% block extra_css %}
<link rel="stylesheet" href="{% static 'blog/css/blog.css' %}">
<link rel="stylesheet" href="https://cdn.ckeditor.com/ckeditor5/46.0.2/ckeditor5.css" />

<!-- If you are using premium features: -->
<link rel="stylesheet"
    href="https://cdn.ckeditor.com/ckeditor5-premium-features/46.0.2/ckeditor5-premium-features.css" />

{% endblock extra_css %}