{% load static%}
<!DOCTYPE html>
<html lang="ru">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{% static 'css/base.css' %}">
    {% block extra_css %}{% endblock extra_css %}
    <title></title>
</head>

<body>
    <!-- HEADER -->
    <header class="header">
        <div class="container">
            <!-- HEADER NAV-->
            <div class="header__nav">
                <a href="/" class="logo">NurbekTech</a>
                <nav class="nav">
                    <ul class="nav__list">
                        {% for item in menu_items %}
                        <li class="nav__item">
                            <a href="{% url item.url_name %}" class="nav__link">{{ item.name }}</a>
                        </li>
                        {% endfor %}
                    </ul>
                </nav>
            </div>
            <!-- END HEADER NAV-->
        </div>
    </header>
    <!-- END HEADER -->

    <!-- MAIN -->
    <main class="main">
        <div class="container">
            {% block content %}
            {% endblock content %}
        </div>
    </main>
    <!-- END MAIN -->

</body>

</html>